.parent {
    flex-wrap: nowrap;
    margin: 25px;
    

    
}

.avatar {
    border-radius: 15px;
    padding: 5px;
    width: 125px;
    margin-left: 50px;


}

.bio {
    text-align: left;
    line-height: 2;
    font-size: x-large;
    margin-left: 50px;
    margin-right: 300px;
    margin-top: 0;
    

}


    

