.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    margin-left: 50px;
   

}

.imageGit {
    margin: 10px;

}

.imageLinkIn {
    margin: 10px;
}
